@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img,
input,
textarea,
button {
  max-width: 100%;
}